@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #88ABFF;
}

.wrapper{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,256px);
    gap: 15px;
}

.wrapper li{
    height: 250px;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box, .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.add-box .icon{
    height: 78px;
    color:#88ABFF;
    width: 78px;
    border-radius: 50%;
    border: 2px dashed #88ABFF;
    font-size: 40px;
}

.add-box p {
    color:#88ABFF;
    font-weight: 500;
    margin-top: 20px;
}

.note p{
    font-size: 22px;
    font-weight: 500;
}

.note span {
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}